[2014-12-19 03:06] rosshadden opened #1 "Module names "unknown""
This compiles es6 files fine, but I can't figure out how to actually use the files in an app.  My thought was to require the main module manually, as an entry point into the compiled code.  However I couldn't figure out what it was named.  I thought it would be the relative file path of the file, but it did not seem to be that.

Also I noticed that if I enable the `amdModuleIds` option in 6to5, it

[2015-01-04 16:00] stefanpenner opened #2 "seemingly pointless try/catch"
https://github.com/6to5/broccoli-6to5-transpiler/blob/master/index.js#L26-L40

[2015-01-04 16:02] stefanpenner opened #3 "sourceMap idea"
the YPT guys @caridy and @ericf may want to chime in.

i believe the two approaches are likely:

* by convention expect a sibling .map file: https://github.com/mmun/broccoli-es6-module-transpiler/commit/72985d14b51ac37a15fe794d475ea44817f63b54
* generate inline source maps

I like the last one the best, as it prevents the dual file path.

Would love to hear your thoughts.

[2015-01-04 16:03] stefanpenner opened #4 "out-dated link in the description"
"Broccoli plugin transpile ES6 to readable ES5 https://github.com/very-geek/broccoli-6to5-transpiler"

[2015-01-05 00:42] stefanpenner opened #5 "latest updates (bump to 2x 6to5) not yet published to npm"

[2015-01-06 04:34] #1 closed, assigned to nobody

[2015-01-13 19:00] caridy commented on #3
Just to clarify on the input, analyze the source, if the source has the sourcemap directive (inline or relative), consume it, and generate the new inline map by default, with an optional configuration to generate a sibling, in case this transformation is the last one, although we plan to provide a compelling tool to extract an inline sourcemap into a .map (maybe that already exists out there).

[2015-01-31 16:52] myfreeweb commented on #3
Yes, [it exists, I made a broccoli plugin for it](https://github.com/myfreeweb/broccoli-source-map).  All broccoli plugins should take inline source maps as input and produce them as output.  Then the user should stick a `sourceMap.extract()` at the end of the pipeline. Problem solved.

[2015-02-13 17:56] andywillis opened #12 "Inline source map issue"
Hi. Sorry if this is a dumb question, but how do I get the sourcemaps to appear? Currently I have:
[code]
but this doesn't work even though `sourcemap` is the only valid option name I've found. `sourceMap: true` doesn't work either. It's doing everything else fine.

[2015-02-18 16:49] Dremora commented on #12
With `sourceMap: 'inline'`, I can see source maps in Firefox but not in Chrome.

[2015-03-03 15:27] rlivsey opened #14 "Imports conflict with local variables"
I'm using Ember CLI, with ember-cli-babel which in turn uses this addon. This may want to be opened as an issue in babel itself?

I have the following in my app:

[code]

Which appears to be being transpiled to:

[code]

Notice that there's an imported `meeting` and a local `meeting` which tramples on it so `meeting.updateMeeting` is `undefined`.

[2015-03-04 06:50] nightire commented on #14
Interesting edge case, I believe this should be solved (hopefully) by Babel itself, as a plugin, broccoli-babel-tanspiler doesn't handle naming mapping, it just follow the way Babel does.

@sebmck what's your opinion on this one?

[2015-03-04 11:00] sebmck commented on #14
ember-cli doesn't use Babel for modules. Babel modules are blacklisted and
esperanto is used.

On Wednesday, 4 March 2015, Albert Yu <notifications@github.com> wrote:

--
Sebastian McKenzie

[2015-03-04 11:02] rlivsey commented on #14
@sebmck that makes sense, I was wondering why the output was different to what I saw on the babel repl.

Probably worth closing this and I'll re-open on ember-cli.

[2015-03-04 11:06] rlivsey commented on #14
For anyone following, I think this is due to https://github.com/esperantojs/esperanto/issues/116

[2015-03-04 11:06] #14 closed

[2015-03-20 09:27] myfreeweb commented on #12
Use [broccoli-source-map](https://github.com/myfreeweb/broccoli-source-map) to extract inline source maps at the end of the pipeline.

[2015-03-27 20:22] jschilli opened #16 "tests fail on recent versions of babel -"
causing my PR to fail travis build - I'll look into what the issue is - placeholder for now
[code]

[2015-03-28 14:55] jschilli commented on #16
this is a race condition, the inline source maps test is clobbering options before basic test runs

tracking now

[2015-03-28 15:41] jschilli commented on #16
The basic test breaks when moving from babel-core 4.6.6 to 4.7.0

calling babel.transform without a `sourceMap` setting errors out - I haven't figured out the magic incantation yet to do so.

@sebmck^^

https://github.com/babel/babel/commit/f801772fc20f0a597f92c3af96080990e0b70011#diff-bd01d3140d65496689c40bb826e321edR479

[2015-03-28 15:44] sebmck commented on #16
Please open an issue on the main Babel repo, thanks!

On Sunday, 29 March 2015, Jeff Schilling <notifications@github.com> wrote:

--
Sebastian McKenzie

[2015-04-17 00:53] #16 closed

[2015-04-29 20:39] francoislaberge opened #23 "Example Project"
hey,

I've been having a hard time getting a workflow for getting my code to incrementally transpile from es6 to es5. I can get gulp or grunt to work but not very cleanly, I can't find any example projects that work as is.

For example on this homepage you have this example code:
[code]

What does inputTree have to be? I'm finding broccoli documentation in general obtuse or when not to be geared m

[2015-05-17 15:00] givanse commented on #23
I'm working on such examples, keep an eye on: https://github.com/givanse/broccoli-babel-examples

[2015-05-26 15:38] knownasilya opened #25 "Update to latest babel"
So according to the npm message, 5.3.0 is much faster, so if we can could we use that here?

[2015-05-26 17:35] stefanpenner commented on #25
https://github.com/babel/broccoli-babel-transpiler/blob/master/package.json#L31 should allow it to naturally drift to 5.3.x

[2015-05-26 18:20] knownasilya commented on #25
Ops, didn't notice the carrot.

[2015-05-26 18:20] #25 closed

[2015-06-04 21:33] stefanpenner commented on #23
@givanse feel free to submit a PR with a link to those from the readme.

[2015-06-04 21:33] #23 closed

[2015-06-04 21:34] stefanpenner commented on #12
i can confirm this works for us right now.

[2015-06-04 21:34] #12 closed

[2015-06-04 21:34] stefanpenner commented on #3
this seems to have gone stale.

[2015-06-04 21:34] #3 closed

[2015-06-04 21:38] stefanpenner opened #27 "support external source maps"

[2015-06-04 23:17] stefanpenner opened #30 "fails without options.filename"
[code]

[2015-06-04 23:18] stefanpenner commented on #30
writing a test...

[2015-06-04 23:27] #30 closed

[2015-06-19 22:20] chadhietala opened #33 "Use filter that provides stable outputPaths"
We need to update this to use https://github.com/caitp/cauliflower-filter so that the output paths are consistent.

[2015-06-21 20:27] #33 closed

[2015-06-22 14:31] chadhietala commented on #27
Yes. Currently it doesn't look like any souremaps are being produced.

[2015-06-22 14:53] stefanpenner commented on #27
Inline are when enabled, external are not

[2015-07-02 22:32] nickdesaulniers opened #40 "update version + republish"
it looks like the [option was just added for browserPolyfill a few days ago](https://github.com/babel/broccoli-babel-transpiler/pull/24/files).  When I try to build I get the trace:

[code]

I have `"broccoli-babel-transpiler": "^5.2.3"` installed and my Brocfile.js looks like:

[code]

If I remove that option, everything builds just fine, but doesn't run in the browser (require is undefined).

[2015-07-02 22:57] nickdesaulniers commented on #40
[code]
ah, I don't think the version number has been bumped, and the package has not yet been republished.

[2015-07-02 23:05] nickdesaulniers commented on #40
If I change my package.json to be:

    "broccoli-babel-transpiler": "https://github.com/babel/broccoli-babel-transpiler.git"

The build now completes, but I still get the `require is not defined` error at runtime.

[2015-07-14 15:02] fakalit commented on #40
Also experiencing the issue. with the same stacktrace and everything. should we default to manually adding to polyfill?

[2015-07-16 14:25] joshuairl opened #41 "Unknown option: direct.browserPolyfill"
I'm getting an error when using browserPolyfill option in my Brocfile.js.
Is this still supported?

[code]

[2015-07-20 01:52] stefanpenner commented on #41
yes

can you show how you are doing this?

[2015-07-20 01:57] stefanpenner commented on #41
reproduced it

[2015-07-20 01:57] stefanpenner commented on #41
cc @givanse

[2015-07-20 01:59] stefanpenner commented on #41
ah this isn't yet released, but it needs some fixes. Will work on it tonight

[2015-07-20 02:05] stefanpenner commented on #41
published as 5.3.0

[2015-07-20 02:05] #41 closed

[2015-07-20 10:01] givanse commented on #41
@stefanpenner with "some fixes" do you mean adding a test for `browserPolyfill`? or something else? (module metadata tests are failing)

[2015-07-20 10:02] givanse commented on #40
Version 5.3.0 was just published.

[2015-07-20 14:08] #40 closed

[2015-07-20 14:08] stefanpenner commented on #40
Sorry I let this one slip

[2015-07-24 16:14] johnhamelink opened #45 "Plugin undefined didn't export default a Transformer instance"
Hey there,

After cloning a copy of an ember app I have, running `npm install` and `bower install` and then running `ember s`, I'm getting the following error:

[code]

I've not been able to figure out where I've gone wrong - but this error seems to be coming from within broccoli-babel-transpiler. My package.json:

[code]

[2015-07-24 17:13] chadhietala commented on #45
Can you try `rm -rf node_modules && npm cache clean && npm install` from within the project?  Seems like you have a bad version of babel.

[2015-07-27 14:58] johnhamelink commented on #45
That fixed it, thank you :smile:

[2015-07-27 14:58] #45 closed

[2015-08-12 21:35] xamoom-pali opened #47 "Virus threat detected in one of babel-core files"
Hi,

I am running an ubuntu machine with COMODO Antivirus installed. I have working on a project written in EmberJS using ember-cli and facing an issue: the antivirus program has detected 2 threats in following files:
EMBER_PROJECT/node_modules/ember-cli-babel/node_modules/broccoli-babel-transpiler/node_modules/babel-core/node_modules/core-js/modules/core.log.js

EMBER_PROJECT/node_modules/ember-c

[2015-08-21 20:33] krisselden opened #50 "save usedHelpers meta"
Save the babel meta to a json file so that a babel helpers module can be compiled later.  Maybe even add an import babelHelpers from 'babel-helpers';  in a source map friendly way so that a helpers module can be built when the app is packaged.

[2015-08-21 20:55] stefanpenner commented on #50
i think the plan is to tree-shake prebuilt, but you recommend aggregating and compiling the helpers after the fact?

May be a good interim step.

[2015-08-21 21:06] krisselden commented on #50
For reference `require("babel").transform("code").metadata.usedHelpers;`

[2015-08-21 21:07] krisselden commented on #50
And `require("babel").buildExternalHelpers(usedHelpers)`

[2015-08-22 15:34] stefanpenner opened #51 "uses private api"
`_cache`

we need to likely add this feature (or make it tested upstream)

cc @chadhietala

[2015-08-22 15:37] stefanpenner commented on #47
sounds like COMODO Antivirus is triggering on a false positive.

the error log also indicates which [project](https://github.com/zloirock/core-js) the issue should likely be opened on:
[code]

[2015-08-22 15:37] #47 closed

[2015-08-24 04:28] stefanpenner opened #53 "persistent-cache + exportModuleMetadata are not compatible"
- [ ] make it work
- [ ] re-enable persist when exportModuleMetadata is enabled

cc @chadhietala (also note, exportModuleMetadata relies on private API _cache ...)

[2015-08-26 15:15] stefanpenner opened #54 "windows tests failing due to line-endings"

[2015-08-27 14:01] rj33 opened #55 "Option to turn off extension stripping on the moduleId"
The latest versions of es6-module-loader and SystemJS ave stopped adding .js on to module names and paths without extensions. The Broccoli plugin does this:

[code]

Which strips the extension from the filename. An option to turn off that stripping might be handy given the current state of popular loaders.

There is a way of fixing it if you only have one known extension to deal with via Babel's g

[2015-08-28 15:15] chadhietala commented on #53
Why does this not work?

[2015-09-10 13:05] anshulguleria opened #59 "browserPolyfill option does not work"
I was trying the option `browserPolyfill` option but it does not work but when i write my own logic in my `Brocfile.js` to merge the `browser-polyfill.js` file it works as expected.

Picked the logic to copy file from here: https://hacks.mozilla.org/2015/06/es6-in-depth-babel-and-broccoli/

code:

[code]

[2015-09-14 17:04] givanse commented on #59
I'm guessing you were using the latest version `5.4.5`, right? Did you get this in the console?

[code]

[2015-09-14 17:12] givanse commented on #59
The article is a little *outdated* now, if you still want to add the polyfill by yourself, see: https://github.com/babel/broccoli-babel-transpiler/blob/master/index.js#L51 (its very similar)

[2015-09-15 06:57] anshulguleria commented on #59
@givanse Yeah you are right I was using `5.4.5` and thats exactly the error I got in console. But does that mean 5.4.5 does not support `browserPolyfill` property?

[2015-09-15 07:22] givanse commented on #59
It means we have a bug.

[2015-10-19 21:05] givanse commented on #59
@chadhietala Why was the change from `cauliflower-filter` to `broccoli-filter` necessary?

[2015-10-19 22:22] chadhietala commented on #59
This project currently uses `broccoli-persistent-filter`, which consolidated the ideas. It's still a fork and eventually will be in `broccoli-filter`.

[2015-10-23 20:52] smfoote opened #61 "Babel options "only" and "ignore" are not respected"
Babel accepts an array of glob or regex of paths for `only`, but those options do not appear to be respected when passed to the plugin.

[2015-10-30 00:16] stefanpenner opened #62 "6.0"
placeholder to document what needs to be done ...

[2015-10-30 14:05] caridy commented on #62
:pager:

[2015-11-04 23:56] stefanpenner opened #63 "fix dep-graph.json and with tree-diffing"

[2015-11-10 21:45] stefanpenner commented on #63
@chadhietala may interest you (as we get start with reviving package/linker stuff)

[2015-11-10 21:46] stefanpenner opened #65 "fix windows test"
just line-ending differences in output matching

cc @kellyselden got cycles ?

[2015-11-10 21:51] kellyselden commented on #65
I will hit up tonight

[2015-11-10 21:55] stefanpenner commented on #65
thank you kindly good sir.

[2015-11-10 21:58] kellyselden commented on #65
don't thank me yet...

[2015-11-10 22:00] stefanpenner commented on #65
:tractor:

[2015-11-10 22:24] chadhietala commented on #63
@stefanpenner Is the issue that output is N + 1?

[2015-11-10 23:26] stefanpenner commented on #63
two issues:

- [ ] n+1 output (we can fix this in broccoli-persistent-filter, but adding better hooks for this)
- [ ] there is no _cache naymore

[2015-11-11 02:51] kellyselden commented on #65
duplicate #54

[2015-11-11 02:51] #65 closed

[2015-11-11 03:05] #54 closed

[2015-11-11 04:13] kellyselden opened #66 "inline sourcemaps are generated differently for windows"
https://ci.appveyor.com/project/embercli/broccoli-babel-transpiler/build/19

Our remaining windows issue is probably an issue within `babel-core`.

[2015-11-14 15:46] stefanpenner opened #67 "cache corruption side channels: plugins needs to be taken into account when deriving cache keys"
1. hashForDep https://github.com/stefanpenner/hash-for-dep of the given plugin (if its an NPM package) this should become part of the plugin subclasses cache key

2. per transform cache key, basically (ideally) the result of options we pass to babel and the babel plugin on each transform.

Some Side-channel examples: hbs-template-compilter provides a template +  defeaturify step provides features.

[2015-11-24 07:34] shaunc opened #68 "cache not documented (or disable-able)?"
I was having an issue with `imports` in index.js

https://github.com/givanse/broccoli-babel-examples/issues/4

and found that `resolveModuleSource` wasn't being called. When I upgraded this package from 5.4.5 to 5.5.0, I found that `resolveModuleSource` was called... once. However, before I could do any debugging it stopped working again. Incidentally, I fiddled with another option and got `resolv

[2015-11-24 09:21] harianus opened #69 "Use absolute path while importing own modules"
So we can use `import config from 'config'` in every file in every directory inside `app/webroot/es6/`.

[code]

[2015-12-19 01:29] maherbeg commented on #62
Are there any updates here? Or any pointers on specific things to look out for? I'd be happy to look into it if I have time next week.

[2015-12-19 01:46] stefanpenner commented on #62
@maherbeg upgrading and running the tests following errors is likely the best bet.

Large number of plugins I depend on must be upgraded to make the switch, which makes this not terribly motivating for me. But if others want to take a stab, I wouldn't be apposed.

[2016-01-01 02:43] ivanvanderbyl commented on #68
It appears you can set `persist: false,` in options to disable the transpiler options caching. Only loosely tested this, but let me know if it works. I'm on `5.5.0`

[2016-02-03 07:17] shaunc opened #72 "dependency on broccoli-persistent-filter causes problems"
I tried to fork and bump to babel-6

    ...
    "babel-core": "^6.4.0",
    ...

I got the following problem:

[code]
Drilling down, the problem is caused by babel-runtime not having a "main" key in its package.json. In "babel-code-frame/lib/index.js" we have:

    var _interopRequireDefault = require("babel-runtime/helpers/interop-require-default")["default"];

... so we shouldn't have to have t

[2016-02-29 18:20] nicoecheza opened #77 "Importing relative modules"
Hi,
I currently have a simple setup to transpile multiple files into a single file inside a folder (pretty common :dancer: ). Everything works well, except when I try to import a file into another one, and the compiled file get's messed up since it is still referencing to the relative path instead of having it imported and transpiled.

Someone knows a way to fix this?
Thanks!

[2016-03-22 22:27] psbanka opened #78 "Dependency on babel-core@5.0 is causing build failures"
(refer to https://github.com/azer/left-pad/issues/5)

`broccoli-babel-transpiler` depends on `babel-core@5.0.0` which depends on `line-numbers@0.2.0`, which depends on `left-pad@0.0.3`

Unfortunately, the `left-pad` folks have removed version 0.0.3 from npm, and now builds that employ `broccoli-babel-transpiler` fail. :disappointed:

[2016-03-22 23:29] psbanka commented on #78
Nevermind, `0.0.3` has been re-published.

[2016-03-22 23:29] #78 closed

[2016-03-24 17:37] rtablada commented on #62
@stefanpenner any developments?

Right now it looks like not Babel 6 is the big blocker to getting better source maps?

Reving a major version should prevent issues with that in terms of breaking builds and it doesn't look like there has been activity or releases on `master` since November so I'd assume that hindering further dev on this wouldn't be as much of an issue?

[2016-03-24 19:10] stefanpenner commented on #62
nope, that isn't a blocker to source-maps.

[2016-03-30 14:50] topaxi commented on #62
Which plugins need to be updated exactly? You're talking about some custom Babel 5 plugins, right? :smile:

[2016-03-31 13:08] stefanpenner commented on #62
- htmlbars-inline-precompiler
- and several things used in: https://github.com/emberjs/emberjs-build

They at least need to be confirmed to work correctly, or updated if they dont work etc.

[2016-04-04 07:09] Turbo87 commented on #72
@shaunc seems to be fixed upstream now.  can this be closed?

[2016-04-04 10:59] shaunc commented on #72
yes!

[2016-04-04 10:59] #72 closed

[2016-05-22 07:24] Turbo87 commented on #69
@harianus can you be a bit more verbose on what you're trying to do and what isn't working for you?

[2016-05-23 07:38] harianus commented on #69
It was a problem 6 months ago, not anymore. But thanks for the help ;-)

[2016-05-23 07:38] #69 closed

[2016-05-23 08:24] Turbo87 commented on #77
@nicoecheza can you provide an example repo that demonstrates your issue?

[2016-06-04 23:10] Turbo87 commented on #62
Resolved by #70

[2016-06-04 23:10] #62 closed

[2016-06-10 18:38] jimmyhchan commented on #61
related? https://phabricator.babeljs.io/T6726

[2016-07-11 15:53] jtrees opened #88 "Update to babel-core 6.10.4 to avoid minimatch vulnerability"
See here:

https://nodesecurity.io/advisories/118

[2016-07-11 17:41] Turbo87 commented on #88
I'm not sure if this would actually impact us that much since the project is usually only used at build time. The current dependency is set to `^6.0.0` so any bugfix releases like that should get pulled in automatically. Feel free to open a PR to update it but I don't see any immediate need for updating right now. Thanks for reporting this though!

[2016-07-11 17:41] #88 closed

[2016-07-21 15:31] stefanpenner commented on #67
Just a note, although logged here (for posterity) this isn't a bug in this repo, rather consuming add-ons must correctly calculate their own cache key. They can do so using many mechanisms, one of which could be using `hash-for-dep` module.

[2016-07-21 15:34] stefanpenner commented on #67
This is most likely a mix of:

* documentation
* an example of how some subclasses are not implemented correctly.

[2016-07-21 15:38] rwjblue commented on #67
@stefanpenner - I am not sure what you are actually referring to.  What packages subclass this broccoli filter?  Most simply consume it.

Also, broccoli-babel-transpiler is the only thing that is actually aware of the plugins being used.  How would some random package that is simply consuming `broccoli-babel-transpiler` change the babel transpilers internal cache key?

[2016-07-21 15:45] stefanpenner commented on #67
Ah the above issue was meant to be opened again the base-class, as it describes things that do not subclass this.

[2016-08-02 04:32] dfreeman commented on #67
Talked briefly with @rwjblue about this in Slack — as a concrete example of where this can bite people, templates compiled via `ember-cli-htmlbars-inline-precompile` aren't invalidated when the template compiler changes. This means when running ember-try with config spanning different compilers, some scenarios are doomed to fail.

With [this repo](https://github.com/dfreeman/inline-hbs-caching), w

[2016-08-04 00:43] stefanpenner opened #90 "This project appears to introduce ~4864 files via itself and its deps"
own files we may not want:
- expectations  7
- fixtures 6

deps we may want to investigate
- node_modules 4842
- [ ] babel-core 3257
- [x] broccoli-funnel 581
- [ ] broccoli-persistent-filter 965 https://github.com/stefanpenner/broccoli-persistent-filter/issues/70
- [ ] clone 8
- [ ] json-stable-stringify 30

[2016-08-05 01:53] locks commented on #90
https://github.com/broccolijs/broccoli-funnel/pull/74

[2016-08-05 03:22] locks commented on #90
https://github.com/babel/broccoli-babel-transpiler/pull/91

[2016-08-05 03:26] locks commented on #90
https://github.com/babel/babel/pull/3634

[2016-08-09 00:11] locks commented on #90
https://github.com/substack/json-stable-stringify/pull/22/files

[2016-08-23 18:28] Turbo87 commented on #67
@rwjblue can we consider this fixed/implemented now with the latest set of changes?

[2016-08-23 18:38] rwjblue commented on #67
I think so. There may still be specific bugs, but I think we can likely close this...

[2016-08-23 18:38] #67 closed

[2016-08-25 10:59] #77 closed

[2016-08-25 16:55] eventualbuddha commented on #61
This appears to be fixed with [babel v6.14.0](https://github.com/babel/babel/releases/tag/v6.14.0).

[2016-08-25 16:58] Turbo87 commented on #61
thanks @eventualbuddha, closing this issue for now.

[2016-08-25 16:58] #61 closed

[2016-08-25 19:18] krisselden commented on #53
would it not be better to save the metadata the async cache?

[2016-08-25 19:49] rwjblue commented on #53
@krisselden - Yes, that is what my suggestion is. 😺

[2016-11-11 18:52] davewasmer opened #105 "Can't supply sourcemap source file name"
It looks like the plugin is [setting the sourcemap source file name to the relative path](https://github.com/babel/broccoli-babel-transpiler/commit/8aadde9e409f35b611ac6ccf596fb62fb1c8cd91#diff-168726dbe96b3ce427e7fedce31bb0bcR45), with no ability to customize that.

It would be nice if we could supply our own function in the options hash that would return the sourcemap source file name. In my use

[2016-11-11 19:16] davewasmer commented on #105
Whoops, nvmd, found the `sourceRoot` option for Babel, which satisfies my use case

[2016-11-11 19:16] #105 closed

[2016-11-22 05:01] ZebraFlesh opened #106 "Unknown option: direct.presets"
I'm attempting to use it like so:

[code]

And am seeing the following error:
[code]

Ideally, I'd like to reuse my .babelrc file which happens to contain presets information, but this plugin fails on that as well (with a similar error, Unknown option: .babelrc.presets). So this seems like a reasonable step in that direction.

[2016-11-22 17:32] ZebraFlesh commented on #106
My bad, this appears to be an issue with babel 5.x. Updating broccoli-babel-transpiler 6.0.0-alpha.2 resolves this issue.

[2016-11-22 17:32] #106 closed

[2017-01-04 21:42] shaunc commented on #68
persist: false seems to work -- thanks!

[2017-01-04 21:42] #68 closed

[2017-03-03 14:12] kirrg001 opened #109 "Question: alpha state?"
Hey 👋

The last alpha was released on the 5th of Jan.
I am waiting for an update of babel core, because of a vulnerability.
Could you give me an update please?

Thanks 🙂
Kate

[2017-03-03 14:20] Turbo87 commented on #109
what "vulnerability" is that?

[2017-03-03 14:26] kirrg001 commented on #109
minimatch@2.0.10

[code]

[2017-03-03 14:28] Turbo87 commented on #109
are you passing user input into `minimatch`?

[2017-03-06 09:40] kirrg001 commented on #109
I **think** we are not using it right now, but maybe other people do.

[2017-03-06 09:48] Turbo87 commented on #109
to be honest I don't see how anyone could actually take advantage of that vulnerability through the `broccoli-babel-transpiler` plugin. broccoli is usually used in the build pipeline where usually no user input is part of the build or could be harmful in any way. as there is no user input there is also no realistic way to take advantage of such a vulnerability. unless you can demonstrate that this

[2017-03-06 10:53] kirrg001 commented on #109
Ok 👍 Is there any deadline planned for your upcoming release?

[2017-03-06 10:55] Turbo87 commented on #109
we are hoping to get an MVP in Ember CLI 2.13, but as we're talking about an OSS project there are no guarantees at all

[2017-03-06 10:55] #109 closed

[2017-03-13 17:37] leizhao4 opened #111 "Is Node 0.12 still supported in v5.x?"
If yes, then `broccoli-persistent-filter` -> `async-disk-cache ^1.2.1` -> `username ^2.3.0` breaks Node 0.12 compatibility.

See:
https://github.com/sindresorhus/username/issues/7
https://github.com/stefanpenner/async-disk-cache/pull/43

[code]

[2017-03-20 20:41] rwjblue commented on #111
This was resolved in async-disk-cache.  Closing.

[2017-03-20 20:41] #111 closed

[2017-09-15 22:25] petey opened #124 "Warning in fresh ember install when no `ie 9` target"
[code]

Steps to reproduce:
* In a new directory: `ember init`
* In `config/targets.js`: remove `ie 9`
* `ember build`

Results in the following warnings:
[code]

[2017-09-24 10:48] Fed03 commented on #124
👍

[2018-02-26 15:01] joliss opened #129 "Version 6.1.4 not tagged "latest" on npm"
Perhaps this is intentional, in which case please close this, but I just ran "npm install --save broccoli-babel-transpiler" and ended up being surprised that it installed version 5.7.4, rather than 6.1.4.

[code]

[2018-02-26 15:16] Turbo87 commented on #129
I assume this is related to https://github.com/Turbo87/auto-dist-tag/pull/24, which seems to be missing from the TravisCI config here. I'll fix the disttags manually.

[2018-02-26 15:49] Turbo87 commented on #129
Resolved by https://github.com/babel/broccoli-babel-transpiler/pull/130

[2018-02-26 15:49] #129 closed

[2018-05-18 20:43] stefanpenner commented on #124
Thanks for reporting. I believe this is a bug in ember-cli-babel, not  in broccoli-babel-transpiler, as that one, I believe, actually provides those default plugins.

[2018-05-18 20:46] #51 closed

[2018-05-18 20:46] #90 closed

[2018-05-18 20:46] #66 closed

[2018-05-18 20:47] #63 closed

[2018-05-18 20:47] #55 closed

[2018-05-18 23:37] stefanpenner commented on #59
I believe this has been addressed

[2018-05-18 23:37] #59 closed

[2018-05-18 23:38] stefanpenner commented on #27
This has been called out in the readme. Very open to a PR

[2018-05-18 23:38] #27 closed

[2018-05-18 23:38] stefanpenner commented on #53
I think this is no longer a thing

[2018-05-18 23:38] #53 closed

[2018-05-18 23:40] stefanpenner commented on #50
Will gladly accept a PR if this is still applicable.

[2018-05-18 23:40] #50 closed

[2018-05-18 23:43] stefanpenner commented on #124
Just confirmed, running:

[code]
does not produce the above warning, so I suspect the issue is resolved. If i am wrong, please provide me steps to reproduce, and I'll gladly reopen.

[2018-05-18 23:43] #124 closed

[2018-05-23 21:19] rwjblue opened #141 "Update babel-7 branch with latest changes on master."
cc @stefanpenner

[2018-05-24 22:06] stefanpenner commented on #141
fixed

[2018-05-24 22:06] #141 closed

[2018-07-24 20:14] stefanpenner opened #147 "Improve parallel errors further"
fix: a plugin of the form: `[serializable, nonSerializable]` will incorrectly display `serializable` as the problem, not `nonSerializable`

[2018-08-24 08:57] 895aungye commented on #147
var FailureOnlyReporter = require('./lib/failure-only-testem-reporter');

module.exports = {
  framework: 'qunit',
  test_page: 'dist/tests/index.html?hidepassed&hideskipped&timeout=60000',
  timeout: 540,
  parallel: 1,
  disable_watching: true,
  launch_in_dev: ['Firefox'],
  launch_in_ci: ['Firefox'],
  reporter: FailureOnlyReporter

[2018-10-03 01:32] stefanpenner opened #152 "warn/error if duplicate plugins provided"
https://github.com/ember-engines/ember-engines/pull/596 leads me to believe we should try and detect this failure mode and warn asap...

[2018-10-05 03:26] oligriffiths opened #153 ".babelrc changes do not bust cache"
When using a `.babelrc` (or similar) config file for babel, changes to this file to not bust the persistent cache, causing compiled outputs to not change.

Not sure the best way to handle this as https://babeljs.io/docs/en/config-files lists various techniques babel goes through to find config file, but it could be as simple as including their hash in the cache key.

[2018-10-05 13:28] oligriffiths commented on #153
It worked in V6 of this plugin.

Why do we want to disable them? They’re pretty common in the js community.

[2018-10-05 15:01] rwjblue commented on #153
Ahh, ember-cli-babel disabled, not broccoli-babel-transpiler.

[2018-10-05 15:02] rwjblue commented on #153
Should look into how https://babeljs.io/docs/en/config-files#apicache works internally in babel, see if we can leverage the same cache key that they use.

[2018-10-05 17:01] Turbo87 commented on #153
to answer your question, ember-cli wants more control over the Babel plugins that get used by default, and using the babelrc file makes that more difficult which is why we disabled it there

[2018-10-26 17:49] dfreeman opened #155 "Confusing error message for non-parallelizable plugin"
Babel accepts plugins as (among other things) either a string denoting a module to require, or a tuple containing that string and optionally some configuration for that plugin. It will also accept a singleton array with just the module path as a sort of degenerate version of the second case, i.e.

[code]

For the third entry, the parallelization logic interprets that plugin as `['/path/to/some/plu

[2018-11-29 20:53] chadhietala opened #156 "Parallelization Does Not Interop Between Babel 6 and 7"
If you are trying to parallelize and you have some plugin instances that are running 6 and some that are 7, you will error out with an error that looks like this.

[code]

This is likely due to the fact that Babel 7's options validate before running. The workers needed to be pooled based on Babel version.

[2018-12-06 15:35] Turbo87 opened #158 "TypeError: Cannot read property '_parallelBabel' of null"
[code]

`typeof null == 'object'` is `true` which mistakenly sets `hasProperties` to `true` even though `null` does not have properties

- version: 6.5.0

[2019-02-05 13:12] belgoros commented on #156
I have the same issue that appears totally in a random way when starting a server locally with `ember s`:
[code]
Here is the content of the log file pointed to:
[code]
AFter stopping and retsrting the errors goes away.
Using `Ember 3.7.2`. Any ideas ? Thank you.

[2019-02-05 16:12] Elberet opened #161 "Polyfill missing in output due to bad path handling"
In the lines quoted here, the plugin constructs a path to `@babel/core` in order to fetch the browser polyfill into the broccoli pipeline:

https://github.com/babel/broccoli-babel-transpiler/blob/7c4a3349ff3aaa32690324814e53b0dce1343bfe/index.js#L64-L65

On one of my development systems, this fails because npm installs `@babel/core` into `./node_modules/@babel/core`; as a result, the path returned

[2019-02-05 16:13] Turbo87 commented on #161
that is definitely a bug, thanks for reporting! do you have time to open a PR that fixes the issue?

[2019-02-05 16:16] Turbo87 commented on #161
I think the right way to do this would be roughly like this:
[code]
in that case we shouldn't need the regex anymore at all

[2019-02-05 16:24] Elberet commented on #161
Can do, but I'm not certain on the details. From what I can see, things changed quite a bit.
In the Babel packages I'm using - all from the v7 release - the polyfill is found in `./node_modules/@babel/polyfill/browser.js`; is that the right file to include? Should it be renamed?

[2019-02-06 10:36] Elberet commented on #161
After spending some time with the code and its tests, I'm wondering what the desired outcome of adding the `browserPolyfill` flag should actually be:

* just add the polyfill to the output tree?
* place it somewhere where Babel can resolve it while transpiling source scripts?
* all of the above?

Is the option even required for the current version of Babel? It's now all designed around separate pa

[2019-02-06 10:53] Turbo87 commented on #161
to be honest, I don't know the answers to that either. I would suggest to start digging in https://github.com/babel/ember-cli-babel and see if/how that option is used.

[2019-02-06 17:37] #161 closed

[2019-02-06 18:45] rwjblue commented on #156
https://github.com/babel/broccoli-babel-transpiler/pull/163 should address this

[2019-02-06 22:26] #156 closed

[2019-02-22 15:43] stefanpenner opened #164 "upgrade node-workerpool for WorkerThread support"
https://github.com/josdejong/workerpool/pull/50

- [ ] upgrade workerpool
- [ ] configure it to `auto`
- [ ] ensure we have node 11 test coverage

[2019-02-22 15:44] Turbo87 commented on #164
I guess it would be best to enable dependabot for this repo, I'm just not sure if we have the necessary permissions to do that on the Babel org

[2019-02-22 15:49] stefanpenner commented on #164
@Turbo87 manual for now i guess

[2019-02-24 05:39] stefanpenner opened #166 "Share worker even if different babel version"

[2019-02-24 05:41] stefanpenner commented on #164
closing in-favor of https://github.com/babel/broccoli-babel-transpiler/pull/165

[2019-02-24 05:41] #164 closed

[2019-02-24 05:43] stefanpenner commented on #155
@dfreeman it sounds like the best solution would be for us to simple ignore or custom serialize undefined here right?

[2019-02-25 13:17] dfreeman commented on #155
Yep, I think treating `['foo-bar']` as equivalent to bare `'foo-bar'` would solve the specific error I was seeing here. 👍

[2019-02-28 23:06] rwjblue commented on #166
Ya, agreed. The only real issue with sharing is the actual "protocol" that we expect the worker and host process to coordinate with.

[2019-03-01 05:10] stefanpenner commented on #166
Ya, I spiked something. I’ll try and make time to land it in a pr to show

[2019-03-01 14:35] Elberet opened #169 "Worker process not terminated when Babel emits ReferenceError on malformed options"
Consider this snippet based on `broccoli-test-helper`:

[code]

When the tree is processed, Babel will eventually be handed an options object with an `unknownOption` key and will (rightfully) raise a `ReferenceError`. So far, no surprises.

As a result, however, the worker process where the error was raised doesn't get terminated even after the Broccoli builder has been cleaned up; the parent Node

[2019-03-01 15:10] Turbo87 commented on #169
/cc @stefanpenner

[2019-03-01 15:41] stefanpenner commented on #169
Ah this isn’t good, I’ll take a look.
It’s worth pointing out, if you are on the latest broccoli-Babel-transpiler and on node 11. It will use WorkerThreads instead of processes, so it should address this problem (at least as a workaround and a good future solution, but we should still obviously fix the issue you describe). Mind giving that a try?

[2019-03-01 15:49] Elberet commented on #169
Can do, but it'll have to wait until monday when I'm back in the office. 🥳

[2019-03-04 14:49] Elberet commented on #169
Test results: I'm getting an `ExperimentalWarning: queueMicrotask() is experimental.` and see only one Node process, but the behavior is unchanged.

In hindsight this is not much of a surprise. Event passing between threads is functionally very similar to managing worker processes; if there is a situation where the main node event pump can stall waiting for idle workers, the same can easily happen

[2019-03-04 15:49] stefanpenner commented on #169
Ya, with node 11 at least we won’t orphan subprocesses.

If you have time to provide a reproduction or failing test, then I can be sure I am fixing the right bug.

I should have soon

[2019-03-05 09:50] Elberet commented on #169
Here you go: https://github.com/Elberet/broccoli-babel-transpiler-test

[2019-03-07 06:27] ef4 commented on #169
I think I am seeing this bug. For me it only strikes on linux, I have yet to reproduce it on osx.

[2019-03-07 06:45] stefanpenner commented on #169
I've also seen it on OSX....

[2019-03-11 20:11] stefanpenner commented on #169
Taking a look now.

[2019-03-11 20:36] stefanpenner commented on #169
So, I believe:

Is a red herring, the parallel nature of broccoli-babel-transpiler itself has never called terminate on the workerpool it spawns. I believe it relies on the process itself being exited.

If memory serves this is due to broccoli no longer calling "cleanup" in individual plugins, which then gives broccoli-persistent-filter no opportunity to shut its workers down. In addition, workers

[2019-03-11 20:38] stefanpenner commented on #169
broccoli-babel-transpiler works around this itself:

* https://github.com/babel/broccoli-babel-transpiler/blob/a17ae29d7a55138efb58cccf69f4c4333cc81ad0/tests/test.js#L16
* https://github.com/babel/broccoli-babel-transpiler/blob/a17ae29d7a55138efb58cccf69f4c4333cc81ad0/tests/test.js#L266

[2019-08-13 12:29] loganpowell commented on #169
I tried using `workerpool` and got mixed results. If your code isn't locked to it, try threads.js.org

[2019-09-25 19:08] Subaku opened #175 "Trouble getting transpiled JS to work in the browser"
I've been at this for awhile now and I think I just don't know what I'm doing and need guidance :)

I'm trying to transpile my JS from ES6 --> ES5 so it'll work in the browser. I've got a really simple Broccoli setup where I concat a couple of JS files together then run them through Babel with the following config:
[code]

The output of the file at the top contains this:

[code]
Which when used in

[2019-09-25 22:37] rwjblue commented on #175
By default it is transpiling to CJS modules, you'd need to add one of the modules transpilation plugins if you want something different.

[2019-09-26 01:27] Subaku commented on #175
Thanks for getting back to me. I figured it was just a plugin thing. I see plenty of plugins that transpile to commonjs but none that go from commonjs to es5? Thought this would be a tad easier but apparently not :)

For what it's worth I'm using Broccoli and the broccoli-babel plugin to do this. Was trying to get away from not having to use something like broccoli-watchify.

[2019-09-26 16:29] rwjblue commented on #175
The issue here is that it's much less obvious what this means with regards to modules. It really depends on how you plan to run that ES5 code, what that environment has access to, etc.

[2019-10-19 14:13] rwjblue commented on #169
FWIW, this issue is still very frustrating. 😸

[2019-12-23 16:13] charuwts opened #177 "Suggest using core-js directly"
Received this warning when installing ember-cli.

[code]
It was pointed out that this should be reopened here since the issue lies with boccoli-babel-transpiler using @babel/polyfill which is deprecated
#176 https://github.com/ember-cli/ember-cli/issues/8952#issuecomment-562145348

---

Output from `npm ls -g core-js`

[code]

[2019-12-24 10:51] auvipy commented on #177
this is pretty old

[2020-01-10 12:57] v1shaL-b commented on #177
i know it old... u have a solution for this?

[2020-10-09 14:39] rwjblue opened #188 "Remove `options.browserPolyfill` option."
Folks should either leverage `core-js` directly, or use another addon (e.g. https://github.com/pzuraq/ember-cli-babel-polyfills) to provide the polyfill.

Currently, this support is triggering a deprecation **and** we are using a very old version of core-js...

Related:

* #177

[2020-10-09 14:42] rwjblue opened #189 "Move babel specific options into `options.babel` property."
Currently we try to treat this packages `options` as **both** Broccoli specific options _**and**_ Babel's options. This is quite painful (passing another option to the Broccoli plugin is actually a breaking change for the babel transpilation side of things) and not terribly useful.

We should refactor our incoming options to move the babel specific options into `options.babel` so that we can delet

[2020-10-09 18:39] nlfurniss commented on #189
I can take this on in a separate PR

[2020-10-12 20:50] #188 closed

[2020-10-13 19:39] #189 closed

[2020-10-13 19:43] rwjblue commented on #177
Resolved in https://github.com/babel/broccoli-babel-transpiler/pull/191

[2020-10-13 19:43] #177 closed

[2021-01-13 03:17] SergeAstapov opened #197 "@babel/polyfill 7.4.0+ has been deprecated"
Per https://www.npmjs.com/package/@babel/polyfill:

This is similar to https://github.com/babel/ember-cli-babel/issues/298

[2021-01-13 23:20] rwjblue commented on #197
This option was removed in https://github.com/babel/broccoli-babel-transpiler/pull/191

[2021-01-13 23:20] #197 closed

[2021-04-27 18:37] MelSumner commented on #169
@stefanpenner or @rwjblue is there any update on this issue?

[2021-05-10 23:14] stefanpenner commented on #169
@MelSumner maybe someone has time to do https://github.com/broccolijs/broccoli/issues/479

[2021-12-23 13:10] filoozom opened #207 "New release"
Hi,

Would it be possible to publish a new release with the `workerpool` update?
As far as I can tell, it (f0e3b0a39f1413aaff3245cfdc50c0a472920a52) didn't make it in `v7.8.0`.

I'm trying to track down an issue with `ember` and NodeJS 16, and it seems like it could be coming from here.

Thanks!

[2022-02-22 09:24] patricklx commented on #207
same for me. its because worker.send now receives options as parameter, which should be an object. but its receiving an array in the older version of workerpool.

[2022-04-19 06:45] lifeart opened #216 "Does not support latest broccoli-persistent-filter"
[code]

[code]

[2022-05-17 18:51] csprocket777 commented on #216
What ever happened with this? I'm experiencing this issue currently.

[2022-06-05 15:46] Bat3an opened #218 "Thank you so much and for all your hard work i have a issue with my information being passed around and hackers but I just wanted to thank you again so so much"

[2022-06-05 17:57] #218 closed

[2022-06-10 21:31] Bat3an opened #219 "Data"
https://github.com/plaid/plaid-postman/blob/d025897013e13eecb18e4e9a0d805081fdece81c/Plaid%20API%20Endpoints%20Collection.json

[2022-06-13 21:36] Bat3an opened #220 "Tt"
https://github.com/skills/hello-github-actions/blob/main/.github/workflows/4-merge-your-pull-request.yml

[2022-09-08 02:24] roncodes commented on #216
Try this in your `package.json`

[code]

[2022-09-22 20:24] gorner commented on #207
Our team recently ran into the same issue (with Ember v3.28 and Node v16, no issues on Node v14) - it's possible a new release would help fix this, but we are behind on some other dependencies so this may not be the only cause for those running into this issue. (in particular a couple of the addons we currently use depend on `ember-raf-scheduler` v0.1.0)

[code]